.vscode
figs
logs
dev/daq
data
*.pyc
tmp
*.parquet
*.sl
dev/dqm/old
tutorials
dev/dqm/models
**/.ipynb_checkpoints
*.swp
src/hep_utils
test
docs
batch/logs
batch/jobs
batch/scripts
dumps
**/condorExecutable.sh
**/condorSubmit.sub
.python_history
.bash_history
.Xauthority